<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <title>{{ title }}</title>
    <meta content="width=device-width, initial-scale=1.0, viewport-fit=cover" name="viewport"/>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
    <link href="/css/form.css" rel="stylesheet" type="text/css"/>
</head>
<body class="page-user">
<br/><br/>
<div id="page">
    <div id="main">
        <div class="wrapper">
            <div id="title-page">
                <h1>{{ title }}</h1>
            </div>
            <div class="region region-content">
                <div class="block block-system block-main" id="block-system-main">
                    <div class="content">
                        <form accept-charset="UTF-8" action="/" id="user-profile-form" method="post">
                            <input name="id" type="hidden" value="{{ id }}" />
                            <div class="messages error" id="error-message" style="display: none"></div>
                            {{#ifCond message '===' 'updated' }}
                                <div class="messages success" id="success-message">Vos informations ont bien été mises à jour.</div>
                            {{/ifCond}}
                            {{#ifCond message '===' 'created' }}
                                <div class="messages success" id="success-message">Vous êtes bien inscrits pour recevoir les nouveaux projets.</div>
                            {{/ifCond}}
                            <div>
                                <label>Oui je souhaite être informé des nouveaux projets de la Fabrique</label>
                                <div class="form-item form-type-radio">
                                    <input id="whole-world" type="radio" name="location" value="whole-world" {{#unless actor.location.name }}checked{{/unless}}>
                                    <label class="option" for="whole-world">Dans le monde entier</label>
                                </div>
                                <div class="form-item form-type-radio">
                                    <input id="close-to-me" name="location" type="radio" value="close-to-me" {{#if actor.location.name }}checked{{/if}}>
                                    <label class="option" for="close-to-me">Près de chez moi</label>
                                </div>
                                <div class="side">
                                    <input id="address" name="address" placeholder="Ma ville ou mon adresse" type="text">
                                    <input id="address-result" name="address-result" type="hidden">
                                    <div class="radio-buttons">
                                        <span>Distance</span>
                                        <input type="radio" name="radius" value="25000" id="radius25" {{#ifCond actor.location.radius '==' '25000' }}checked{{/ifCond}}/>
                                        <label for="radius25">< 25km</label>
                                        <input type="radio" name="radius" value="50000" id="radius50" {{#ifCond actor.location.radius '==' '50000' }}checked{{/ifCond}}/>
                                        <label for="radius50">< 50km</label>
                                        <input type="radio" name="radius" value="100000" id="radius100" {{#ifCond actor.location.radius '==' '100000' }}checked{{/ifCond}}/>
                                        <label for="radius100">< 100km</label>
                                    </div>
                                </div>
                            </div>
                            <br/>
                            <div class="form-item form-type-checkboxes">
                                <label>Touchant les thématiques suivantes</label>
                                {{#each themes}}
                                <div class="form-checkboxes" id="edit-field-proj-theme-und">
                                    <div class="form-item form-type-checkbox form-item-field-proj-theme-und-101">
                                        <input class="form-checkbox" id="theme-{{@index}}" name="themes[]" type="checkbox" value="{{this.[@id]}}" {{ifInActorThemes this.[@id] "checked"}}>
                                        <label class="option" for="theme-{{@index}}">{{this.preferedLabel}}</label>
                                    </div>
                                </div>
                                {{/each}}
                            </div>
                            <br/>
                            <div class="form-wrapper" id="edit-account">
                                <div class="form-item form-type-textfield form-item-mail">
                                    <label for="email">Mon adresse de courriel
                                        <span class="form-required" title="Ce champ est requis.">*</span>
                                    </label>
                                    <input class="form-text required" id="email" maxlength="254" name="email" placeholder="Adresse de courriel" type="email" value="{{actor.[foaf:mbox]}}" required>
                                    <div class="description">Ne sera pas rendue publique et ne sera utilisée que
                                        pour la réception de nouveaux projets de la Fabrique. Vous pourrez à tout
                                        moment vous désinscrire.
                                    </div>
                                </div>
                            </div>
                            <br/>
                        <div class="form-actions form-wrapper">
                            {{#if actor.[@id] }}
                                <input class="form-submit" id="edit-submit" type="submit" value="Mettre à jour">
                            {{else}}
                                <input class="form-submit" id="edit-submit" type="submit" value="S'abonner">
                            {{/if}}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/json2/20160511/json2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/places.js@1.18.1"></script>
<script>
    var placesAutocomplete = places({
        appId: 'pl572QT8Z08H',
        apiKey: 'ff16134222d9ee842cbffa1aa9e546cd',
        container: document.querySelector('#address'),
        countries: ['fr','be','ch','ca','lu']
    });
    {{#if actor }}
        placesAutocomplete.setVal("{{ actor.location.name }}");
    {{/if}}
    placesAutocomplete.on('change', e => {
        document.getElementById("address-result").value = JSON.stringify(e.suggestion);
        document.getElementById("close-to-me").checked = true;
    });
    placesAutocomplete.on('clear', () => {
        document.getElementById("whole-world").checked = true;
    });
    document.getElementById("whole-world").addEventListener('change', () => {
        placesAutocomplete.setVal('');
        document.getElementById("address-result").value = '';
    });
    document.getElementById("user-profile-form").addEventListener('submit', e => {
      var numChecked = 0;
      var checkboxes = document.querySelectorAll('[id^=theme]');
      checkboxes.forEach(function(checkbox) {
        if( checkbox.checked ) {
          numChecked++;
        }
      });
      if( numChecked === 0 ) {
          e.preventDefault();
          if( document.getElementById("success-message") ) document.getElementById("success-message").style.display = 'none';
          document.getElementById("error-message").style.display = 'block';
          document.getElementById("error-message").innerText = 'Veuillez sélectionner au moins un thème.';
          return false;
      }
    });
</script>
</body>
</html>