.App {
  text-align: center;
}

.App-logo {
  font-size: 30pt;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

.App-form textarea, .App-form input {
  min-width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.App-form button {
  float: right;
}

.App-section {
  font-size: 20pt;
  margin-bottom: 0;
}