/*! CSS Used from: https://www.colibris-lafabrique.org/sites/default/files/css/css_xE-rWrJf-fncB6ztZfd2huxqgxu4WO-qwma6Xer30m4.css */
form {
    margin: 0;
    padding: 0;
}

.form-item, .form-actions {
    margin-top: 1em;
    margin-bottom: 1em;
}

.form-item .description {
    font-size: 0.85em;
}

label {
    display: block;
    font-weight: bold;
}

label.option {
    display: inline;
    font-weight: normal;
}

.form-checkboxes .form-item {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

input.form-checkbox {
    vertical-align: middle;
}

.form-required {
    color: #f00;
}

/*! CSS Used from: https://www.colibris-lafabrique.org/sites/default/files/css/css_VXzXhXkLhshQgeaGVLy5RzGsjpookKC6UKZqFioWgCk.css */
button, input {
    font-family: sans-serif;
    color: #222;
}

body {
    margin: 0;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

pre {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em;
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

svg:not(:root) {
    overflow: hidden;
}

form {
    margin: 0;
}

label.option {
    cursor: pointer;
}

button, input {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
}

button, input {
    line-height: normal;
}

button, input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
    *overflow: visible;
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    *width: 13px;
    *height: 13px;
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    pre {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
}

* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    color: #7e7e7e;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.44;
    overflow-x: hidden;
}

input:focus {
    outline: none;
}

h1 {
    font-family: 'geomanistmedium';
    font-weight: normal;
    line-height: 1.2;
}

h1 {
    color: #5b6a6c;
    font-size: 2em;
    text-transform: uppercase;
    margin: 0.5em 0 0.1em;
}

#edit-submit {
    margin: 18px 0 0 0;
    background: #e68c1e;
    border-radius: 0 4px 4px 0;
    color: #5b6a6c;
    padding: 1px 8px;
    font-size: 14px;
}

.page-user #title-page h1 {
    text-align: center;
    text-transform: none;
}

.page-user #user-profile-form {
    margin: 0 auto;
    max-width: 22em;
    width: 100%;
}

.page-user #user-profile-form .form-item, .page-user #user-profile-form .form-actions {
    margin: 0;
}

.page-user #user-profile-form input[type=text],
.page-user #user-profile-form input[type=email] {
    max-width: 22em;
    width: 100%;
    display: block;
    background: #eef0f0;
    color: #5b6a6c;
    padding: .5em;
    border: none;
    margin: 0 0 .5em 0;
}

.page-user #user-profile-form #edit-submit {
    border-radius: 4px;
    width: 100%;
    margin: 0;
    padding: 1em;
    font-size: 1.2em;
    text-align: center;
    color: #fff;
    background: #e68c1e;
}

.page-user #user-profile-form #edit-submit:hover {
    color: #fff;
    background: #5b6a6c;
}

.page-user #user-profile-form {
    max-width: 35em;
    background: white;
    padding: 2em;
}

.page-user #user-profile-form input[type=text],
.page-user #user-profile-form input[type=email] {
    max-width: 31em;
}

#page {
    margin-top: 2em;
    padding-top: 1em;
    background: #eef0f0;
}

#title-page {
    margin-top: -4.5em;
    margin-bottom: 2em;
}

#title-page h1 {
    color: #e68c1e;
    font-size: 1.8em;
}

.form-submit {
    border-radius: 4px;
    background: #5b6a6c;
    color: #fff;
    display: inline-block;
    font-family: 'geomanistmedium';
    margin: .5em 0;
    padding: 0.4em 0.8em;
    text-decoration: none !important;
    text-shadow: none;
    border: none;
    text-transform: uppercase;
}

.form-submit:hover, .form-submit:active, .form-submit:focus {
    background: #e68c1e;
    color: #fff;
}

#main {
    margin-bottom: 2em;
}

.content {
    position: relative;
}

.content::after {
    content: '';
    clear: both;
    display: table;
}

#page, #main {
    clear: both;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
}

.wrapper {
    clear: both;
    margin-left: auto;
    margin-right: auto;
    max-width: 1140px;
    padding: 0 1em;
    position: relative;
}

@media (max-width: 768px) {
    #page {
        margin-top: 1em;
    }

    #title-page {
        margin-top: -3.6em;
        margin-bottom: 2em;
        text-align: center;
    }

    #title-page h1 {
        font-size: 1.4em;
    }
}

@media (max-width: 380px) {
    body {
        font-size: 1em;
    }

    .wrapper {
        padding: 0 .5em;
    }
}

/*! CSS Used from: Embedded */
.form-type-checkbox, .form-type-radio {
    margin-top: 0.4em !important;
    margin-bottom: 0.4em !important;
}

.side {
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

#address {
    border-radius: 0 !important;
}

.ap-input-icon {
    top: -7px;
}

/*! CSS Used fontfaces */

@font-face {
    font-family: 'geomanistmedium';
    src: url(/fonts/geomanist-medium-webfont.eot);
    src: url(/fonts/geomanist-medium-webfont.eot#iefix) format("embedded-opentype"), url(/fonts/geomanist-medium-webfont.woff2) format("woff2"), url(/fonts/geomanist-medium-webfont.woff) format("woff"), url(/fonts/geomanist-medium-webfont.ttf) format("truetype"), url(/fonts/geomanist-medium-webfont.svg#geomanistregular) format("svg");
    font-weight: normal;
    font-style: normal;
}

/* Custom CSS */

html {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

#projet-node-form {
    max-width: 35em;
    margin: 0 auto;
    width: 100%;
}

#projet-node-form .description {
    position: relative;
    top: initial;
    right: initial;
    width: initial;
    font-size: 0.85em;
}

.form-type-checkbox, .form-type-radio {
    margin-top: 0.4em !important;
    margin-bottom: 0.4em !important;
}

.side {
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

#address {
    border-radius: 0 !important;
}

.ap-input-icon {
    top: -7px;
}

div.messages.error {
    background: #dc4764;
    color: #fff;
}
div.messages.success {
    background: #b9cd00;
    color: #fff;
}
div.messages {
    background: none;
    border: none;
    font-size: 0.9em;
    margin: 0 0 2em 0;
    padding: 0.75em 1.5em;
    border-radius: .25em;
}

.radio-buttons span {
    display: inline-block;
    padding: 0.4em 0.9em 0.5em 0;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.radio-buttons input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.radio-buttons label {
    display: inline-block;
    font-weight: normal;
    background-color: #eef0f0;
    padding: 0.3em 0.8em;
    margin-right: 0.5em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    border: #eef0f0 solid 2px;
}

.radio-buttons label:hover {
    border-color: lightgray;
    cursor: pointer;
}

.radio-buttons input[type="radio"]:checked + label {
    border-color: lightgray;
}